{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Actividades</h1>
    <div class="row">
      <div class="col villancicos">
        <img
          src="https://www.navidad.com/images/actividades/rompecabezas-paisaje.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Rompecabezas de Paisaje Navideño</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/actividades/crusigrama-arbolito.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Crucigrama Arbolto Navideño</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/actividades/rompecabezas-arbolito.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Rompezabezas Arbolito de Navidad</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/actividades/colorea-a-santa.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Colorea a Santa</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/actividades/pinta-tu-navidad.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Pinta tu Navidad</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img
          src="https://www.navidad.com/images/actividades/otros-dibujos.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Colorea Otros Dibujos</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/actividades/raton-elfo.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Colorea al Raton Elfo</p>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
