{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Cocina</h1>
    <div class="row">
      <div class="col villancicos">
        <img
          src="https://www.navidad.com/images/bebidas.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Platillos Ligeros</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/pl-fte.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Platillos Fuertes</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/potres.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Postres</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/ligero.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Bebidas</p>
      </div>
      <div id="volver" class="volver">
        <a class="btn-volver" type="button" href="/">Volver</a>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
