{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Cuentos</h1>
    <p style="text-align: center; max-width: 990px">
      Si deseas, puedes mandarnos algún cuento que te guste mucho y en breve lo
      publicaremos en esta sección con dedicatoria especial, o si deseas
      compartir algún comentario, duda o sugerencia acerca de los cuentos
      existentes en esta sección envíanos un correo electrónico a:
      <a href="info@navidad.com">info@navidad.com</a>
    </p>
    <img
      src="https://www.navidad.com/images/cuentoss.jpg"
      alt=""
      width="450px"
    />
    <img src="https://www.navidad.com/images/otross.jpg" alt="" width="450px" />
  </div>
</div>
{% endblock contenido %}
