{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Historia de la Navidad</h1>
    <img src="https://navidad.com/images/jesus.png" alt="" width="450px" />
    <p>Entérate del nacimiento de Jesús y de como se originó la navidad.</p>
    <img src="https://navidad.com/images/reyes3.jpg" alt="" width="450px" />
    <p>Niño, entérate de quienes son los Reyes Magos y su historia</p>
    <img src="https://navidad.com/images/santa1.png" alt="" width="450px" />
    <p>Niño, entérate de quien es Santa Claus y conoce su historia</p>
  </div>
</div>
{% endblock contenido %}
