{% extends "./plantilla.html" %} {% block contenido %}

<main style="background-color: #720809">
  <div class="container-contacto bg-light w-100">
    <div class="container">
      <div class="row">
        <div
          class="col-3 contacto1 d-flex justify-content-end align-items-center"
        >
          <a href="/cartaasanta">Enviar Carta</a>
        </div>
        <div
          class="col-3 contacto2 d-flex justify-content-center align-items-center"
        >
          <a href="">Entrar al chat</a>
        </div>
        <div
          class="col-3 contacto3 d-flex justify-content-center align-items-center"
        >
          <a href="">Accesa Email</a> &nbsp; &nbsp;
          <a href="">Registrate</a>
        </div>
        <div class="col-3 contacto4"></div>
      </div>
    </div>
  </div>

  <div class="container-regalos">
    <div class="container">
      <div
        class="row pt-4 animate__animated animate__backInUp animate__delay-1s"
      >
        <a class="col regalo m-0" href="/historia">
          <img
            src="https://navidad.com/images2017/Historia_de_la_Navidad.png"
            alt=""
          />
          <p>Historia de la Navidad</p>
        </a>
        <a class="col regalo m-0" href="/cuentos">
          <img src="https://navidad.com/images2017/cuentos.png" alt="" />
          <p>Cuentos</p>
        </a>
        <a class="col regalo m-0" href="/villancicos">
          <img src="https://navidad.com/images2017/villancicos.png" alt="" />
          <p>Villancicos</p>
        </a>
        <a class="col regalo m-0" href="/cocina">
          <img src="https://navidad.com/images2017/cocina.png" alt="" />
          <p>Cocina</p>
        </a>
        <a class="col regalo m-0" href="/actividades">
          <img src="https://navidad.com/images2017/actividades.png" alt="" />
          <p>Actividades</p>
        </a>
      </div>
      <div
        class="row pt-4 animate__animated animate__backInUp animate__delay-2s"
      >
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/regalos.png" alt="" />
          <p>Regalos</p>
        </a>
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/decoracion.png" alt="" />
          <p>Decoracion</p>
        </a>
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/juegos.png" alt="" />
          <p>Juegos</p>
        </a>
        <a class="col regalo m-0">
          <img
            src="https://navidad.com/images2017/salva_pantallas.png"
            alt=""
          />
          <p>Salva Pantallas</p>
        </a>
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/postales.png" alt="" />
          <p>Postales</p>
        </a>
      </div>
      <div
        class="row pt-4 animate__animated animate__backInUp animate__delay-3s"
      >
        <a class="col regalo m-0">
          <img
            src="https://navidad.com/images2017/navidad_en_el_mundo.png"
            alt=""
          />
          <p>Navidad en el mundo</p>
        </a>
        <a class="col regalo m-0" href="/cartaasanta">
          <img src="https://navidad.com/images2017/carta_a_santa.png" alt="" />
          <p>Carta a Santa</p>
        </a>
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/bajar_imagenes.png" alt="" />
          <p>Bajar Imagenes</p>
        </a>
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/otros_idiomas.png" alt="" />
          <p>Otros Idiomas</p>
        </a>
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/manualidades.png" alt="" />
          <p>Manualidades</p>
        </a>
      </div>
      <div
        class="row pt-4 animate__animated animate__backInUp animate__delay-4s"
      >
        <div class="col"></div>
        <a class="col regalo m-0">
          <img
            src="https://navidad.com/images2017/cine_y_peliculas.png"
            alt=""
          />
          <p>Cine y Peliculas</p>
        </a>
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/moda_navidena.png" alt="" />
          <p>Moda Navidenia</p>
        </a>
        <a class="col regalo m-0">
          <img src="https://navidad.com/images2017/ciudad.png" alt="" />
          <p>Ciudades</p>
        </a>
        <div class="col"></div>
      </div>
    </div>
  </div>

  <div class="container-nieve">
    <div class="container">
      <h1 class="text-center mt-5 titulo mb-5">
        Se Parte de Este Nuevo Sitio Navideño
      </h1>
      <p class="parte">
        Si deseas, puedes escribirnos un correo para decirnos que juguetes te
        trajo Santa así como los juguetes que te gustaría recibir esta navidad,
        no olvides decirnos tu edad. Mándanos un correo electrónico a:
        info@navidad.com
      </p>
    </div>
  </div>
</main>
{% endblock contenido %}
