{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Quienes Somos</h1>
    <img src="https://navidad.com/images/img-quienes-somos.jpg" alt="" />
    <p>
      Somos una comunidad de ayudantes de Santa Claus, ¡Nos gusta trabajar
      haciendo los regalos de navidad!. Vemos si los niños se portan bien, y
      estamos atentos a lo que desean y a lo que necesitan para Navidad.
      Envolvemos los regalos, preparamos las tarjetas y preparamos a los renos
      para que estén listos para Nochebuena.
    </p>
    <p>
      Escríbele tu carta a Santa y nosotros nos encargaremos de que el la
      reciba.
    </p>
  </div>
</div>
{% endblock contenido %}
