{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div class="container">
    <h1 class="subtitulos text-center">Videos</h1>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/g1.png"
              alt=""
            />
          </div>
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/g2.jpg"
              alt=""
            />
          </div>
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/221.png"
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/g3.jpg"
              alt=""
            />
          </div>
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/g4.png"
              alt=""
            />
          </div>
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/g5.png"
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/gg6.png"
              alt=""
            />
          </div>
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/23b.png"
              alt=""
            />
          </div>
          <div class="col-md-4 p-0">
            <img
              width="100%"
              src="https://navidad.com/video/images/18.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
{% endblock contenido %}
