{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Villancicos</h1>
    <div class="row">
      <div class="col villancicos">
        <img
          src="https://www.navidad.com/images/villancicos/adeste-fideles.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Adeste Fideles</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/villancicos/25-diciembre.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">25 de Diciembre</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/villancicos/chiquitirrin.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Ay del Chiquitirrin</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/villancicos/campana-sobre-campana.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Campana Sobre Campana</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/villancicos/burrito-sabanero.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Burrito Sabanero</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img
          src="https://www.navidad.com/images/villancicos/noche-de-paz.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Noche de Paz</p>
      </div>
      <div class="col-md-3">
        <img
          src="https://www.navidad.com/images/villancicos/peces-en-el-rio.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Peces en el rio</p>
      </div>
      <div class="col-md-3">
        <img
          src="https://www.navidad.com/images/villancicos/rinrin.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Rin Rin</p>
      </div>
      <div class="col-md-3">
        <img
          src="https://www.navidad.com/images/villancicos/nino-del-tambor.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Tamborilero</p>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
